acrcloud
bert-tensorflow
ffmpeg
fuzzywuzzy
gradio
IPython
keras
librosa
matplotlib
multiprocessing
nltk
numpy
pandas
preprocessing
pydub
python_speech_features
requests
scipy
scikit-learn
seaborn
sklearn
tensorflow
tensorflow_hub
tensorflow_text
tf-models-official
torch
torchaudio
transformers
tqdm
tensorflow